@using ismailaktas.Models.entity
@model List<Tablo_Yemek>
@{
    ViewBag.Title = "Listele";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Listele</h2>

 <div class="row">
@foreach (var ymklr in Model)
{

    <div class="col-sm-4" style="text-align:center;">
        <img src="@ymklr.yemekresim" class="w-75 p-3" alt="Responsive image" />
        <h3> @ymklr.yemekad</h3>
        <h6>Süre: @ymklr.yemeksure</h6>

    </div>


}
</div>