@model ismailaktas.Models.entity.Tbl_kategoriler
@{
    ViewBag.Title = "kategoriguncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("guncelle", "kategoriler", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(m => m.kategoriid)
    @Html.TextBoxFor(m => m.kategoriid, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.kategoriad)
    @Html.TextBoxFor(m => m.kategoriad, new { @class = "form-control" })
</div>
    <div>
        <button class="btn-primary">Değiştir </button>
    </div>
}
